@page
@model HelloWeb.App.Frontend.Pages.ListModel
@{
}

<h1>Lista de información de la pagina</h1>
<table class="table">
  @foreach(var Saludos  in Model.informa)
{
    <tr>
        <td>@Saludos.EnEspañol</td>
        <td>@Saludos.EnIngles</td>
        <td>@Saludos.EnItaliano</td>
         <tb>
          <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-InfoId="@Saludos.Id">
          <i class="fas fa-info-circle"> </i>
          Detalle Infomar
          </a>
         </tb>
    </tr> 
}
</table>
