@page
@model HomePetCare.App.Presentacion.Pages.EditVModel
@{
}
<h2>Edición de información: @Model.veter.NameVet</h2>
<form method="post">
    <input type="hidden" asp-for="veter.Id" />

    <div class="form-group">
        <label asp-for="veter.NameVet"></label>
        <input asp-for="veter.NameVet" class="form-control">
        <span class="text-danger" asp-validation-for="veter.NameVet"></span>
    </div>

    <div class="form-group">
        <label asp-for="veter.LastNameVet"></label>
        <input asp-for="veter.LastNameVet" class="form-control">
        <span class="text-danger" asp-validation-for="veter.LastNameVet"></span>
    </div>

    <div class="form-group">
        <label asp-for="veter.PhoneVet"></label>
        <input asp-for="veter.PhoneVet" class="form-control">
        <span class="text-danger" asp-validation-for="veter.PhoneVet"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="veter.ProfCard"></label>
        <input asp-for="veter.ProfCard" class="form-control">
        <span class="text-danger" asp-validation-for="veter.ProfCard"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Do it</button> 

</form>
<a asp-page="./ListV" class="btn-default">Tirando información</a>