html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body{
  background-image: url("../ImagenP/perro1.png");
 width: auto;
 height: auto;
 margin: auto;
 display: block;
  }

  img{
    width: 500px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 400px;
  }