@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<div><img class="dog1" src="ImagenP/perro1.png"  alt="">
<div><img class="dog2" src="ImagenP/perro2.jpg"  alt="">
<div><img class="dog3" src="ImagenP/perro3.jpg"  alt="">
<div><img class="redes" src="ImagenP/redesS.jpg"  alt="">
<div><img class="redes1" src="ImagenP/redeS1.jpg"  alt=""></div>
<div><img class="redes2" src="ImagenP/redeS2.jpg"  alt=""></div>

</div>
